* {
    margin: 0
}

#main {
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 0;
}
#menuNav {
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0));
    margin-top: 10px;
    transition: background-color 0.3s;
    margin: 0;
    padding: 0;
    
}
.logo {
    width: 300px;
    margin-left: 50px
}
#navbarNav {
    margin-right: 50px;
}

#menuNav .artigo .nav-link{
    color: rgb(40, 40, 40);
}

#menuNav .artigo .nav-link:hover{
    color: rgb(59, 59, 59);
}

#menuNav .nav-link {
    color:rgb(255, 255, 255)
}

#menuNav .nav-link:hover {
    color:rgb(245, 245, 245);
    font-weight: bold;
}

#menuNav .nav-item .active {
    font-weight: bolder;
}

#banner-principal {
    background-color: rgba(181, 234, 255, 0.264);
}

#banner-principal .bg {
    height: 80vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.723), rgba(0, 0, 0, 0));
}

#banner-principal img{
    height: 80vh;
    object-fit: cover; 
    object-position: top right;
    opacity: 85%;
}

#banner-principal .legenda{
    width: 25%;
    position: absolute;
    top: 10rem;
    left: 15%;
    color:rgb(255, 255, 255);
    z-index: 3;
}    

#banner-principal .btn{
    background-color: rgb(164, 255, 164);
    padding-inline: 2rem;
    transform: font-weight 2s color 1s;
}

#banner-principal .btn:hover {
    font-weight: bolder;
    color: rgb(60, 60, 60)
}

section:first-child{
    margin-block: 10vh
}

.container-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-title{
    width: 1px;
    height: calc(1vw + 12vh);
    background-color: yellow;
    margin-block: 10vh;
}

@keyframes title-animation {
    from{
        width: 0vw;
    } to {
        width: 80vw;
    }
}
.title {
    position: absolute;
    overflow-wrap: break-word;
    left: -100vw;
    z-index: 2;
    font-size: calc(1vw + 3rem);
    line-height: 1.6;
}


@keyframes title-text-animation {
    from {
        left: -100vw;
    }
    to {
        left: 10vw;
    }
}

.span-animation {
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0%;
}

@keyframes title-text-animation-span {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#objetivos .bg {
    background-color: #67B2EB;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
}

#objetivos p {
    margin-left: 5px;
}

#objetivos #objs {
    width: 90vw;
    margin: 0 auto;
}

#objetivos img {
    width: calc(1vw + 40px);
    height: calc(1vw + 40px);
    display:inline-block;
    vertical-align: middle;
}
#objetivos .btn {
    background-color: rgb(164, 255, 164);
    padding-inline: 2rem;
    margin-top: 40px;
    font-size: 1.2rem;
    transform: font-weight 2s color 1s;
}

#objetivos .btn:hover {
    font-weight: bolder;
    color: rgb(60, 60, 60)
}

#team { 
    margin-block: 15vh;
    position: relative;
}

#team p,b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    width: 40vw;
    line-height: 1.6;
}

#team .img-perfil img{
    width: calc(100px + 20vw);
    height: calc(100px + 20vw);
    margin-inline: 40px;
    border-radius: 100%;
    margin: 0 auto;
}

#team .svg-prev-arrow, #team .svg-next-arrow {
    color: #636363;
    transition: color 0.3s;
    position: absolute;
    bottom: 100px;
    z-index:3   
}

#team .svg-next-arrow {
    right: 0;
}

@keyframes carouselAnimationINR {
    from {
      transform: translateX(-100vw);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes carouselAnimationOUTR {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100vw);
    }
  }

  @keyframes carouselAnimationINL {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes carouselAnimationOUTL {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100vw);
    }
  }

#trabalhos .container-videos{
    width: 95vw;
    margin: 0 auto;
}

#trabalhos .bg {
    height: 70vh;
    position: relative;
    object-fit: cover;
    margin-block: 5vh;
}

#trabalhos .bg-text {
    height: 1%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(69, 69, 69, 0.649);
    color: white;
    opacity: 0;
    text-align: center;
}

@keyframes animacaoAparecerDescricao {
    from {
        opacity: 0;
        height: 1%;
    }
    to {
        opacity: 100%;
        height: 50%;
    }
}

@keyframes animacaoDesaparecerDescricao {
    to {
        opacity: 0;
        height: 1%;
    }
    from {
        opacity: 100%;
        height: 50%;
    }
}


#imgs .box-img img {
    width: 100%;
    height: 30vh;
    object-fit: cover; 
    object-position: center;

}

#imgs .img-carousel img{
    height: 62vh;
    width: 47vw;
    margin-left: 20px;
    object-fit: cover; 
    object-position: center;
}

#contact {
    width: 200px;
    height: 60px;
    position: fixed;
    right: 50px;
    bottom: 20px;
    font-weight: bolder;
    background-color: rgb(176, 255, 176);
    background-size: cover;
    border-radius: 10px;
    opacity: 0%;
    transition: opacity 0.5s;
    z-index: 4;
}

#contact img {
    width: 55px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

article {
    width: 50vw;
    margin: 0 auto;
    margin-top: 10vh;
    line-height: 2;
}

article h5 {
    margin-block: 20px;
}

section #section-title {
    margin-top: 0;
}

footer {
    background-color: black;
    height: 15vh;
    width: 100vw;
    margin-top: 10vh;
    min-height: 100%;
    display: flex;
    align-items: center;

}

footer .logo {
    width: 300px;
    margin: 10px;
}

footer .project-name p{
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
    text-decoration: underline;
    color: white
}

footer .social-media img {
    height: 25px;
    max-width: 50px;
}

footer .social-media a {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
}

footer .social-media a:hover {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
